  .grid-container-form {
    display: grid;
    width: 90%;
    margin-left: 5%;
    grid-template-columns: 400px 400px;
    grid-template-rows: auto;
    justify-content: center;
  }

  .grid-item-form {
    text-align: left;
  }

