table{
    width: 100%;
    border: 1px solid rgb(7, 151, 7);
}
td,th {
    border: 2px solid rgb(9, 124, 90);
}
h1 {
    text-align: center;
}

h2 {
    font-style:oblique;
    font-weight: normal;
}
h3 {
    text-decoration: underline;
}

#cuerpo {
    margin: auto;
    width: 90%;
}